html , body {
	background: #79C8F9; 
	color: #fff; 
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
}

.center{
	width : 800px;
	height : 600px;
	margin: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position: absolute;
	z-index:100;
	background: #FF00FF;
}


#mainMenu {
	visibility: visible;
}

#game {
	visibility: hidden;
	background: #00FFFF;
}

#waiting {
	visibility: hidden;
	background: #F0000F;
}

#score {
	visibility: hidden;
	background: #FFFF00;
}
