html , body {
	background-image:url('./sprites/wallpaper.jpg');
	background-size: cover;
	color: #000; 
	font-family: Lucida Console;
	font-size:30px;
	margin: 0; 
	padding: 0;
}

.center{
	width : 800px;
	height : 600px;
	margin: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position: absolute;
	z-index:100;
	text-align:center;
}

#play{
	color: #000; 
	font-family: Lucida Console;
	font-size:40px;
}

#scenario{
	color: #000; 
	font-family: Lucida Console;
	font-size:30px;
}

#mainMenu {
	visibility: visible;
}

#game {
	visibility: hidden;
	background: #00FFFF;
}

#waiting {
	visibility: hidden;
	background: #FFFFFF;
}

#score {
	visibility: hidden;
	background: #FFFF00;
}
